/* general */
.header_bar
{
	border: 0;
}

.header_bar .highlighted
{
	background: alpha(#FFFFFF, 0.5);
	border-radius: 3pt;
	padding: 3pt;
}

textview.view text, textview text, textview
{
	background: alpha(#FFFFFF, 0.3);
}

textview.view window, textview window
{
	background: alpha(#FFFFFF, 0.3);
}

textview.view text selection, textview text selection
{
	color: #000000;
	background: alpha(#FFFFFF, 0.3);
}

textview.view border, textview border
{
	background: alpha(#FFFFFF, 0.3);
}
