@define-color darker_than_bg mix(@theme_bg_color, #000000, 0.5);
@define-color darker_than_bg_highlight mix(@theme_bg_color, #000000, 0.65);

/* general */
.no_padding
{
	padding: 0;
}

.popover_padding
{
	padding: 6pt;
}

.small_padding
{
	padding: 6pt;
}

.channels_box_margin
{
	margin: 6pt;
}

.header_bar
{
	/*border: 0;*/
}

.header_bar .highlighted
{
	background: @theme_bg_color;
	border-radius: 3pt;
	padding: 3pt;
}

.compile_button
{
  background: url('resource:///org/hasi/shady/data/images/compile_background_dimmed.png');
  background-size: cover;
}

.compile_button:active
{
  background: url('resource:///org/hasi/shady/data/images/compile_background.png');
  background-size: cover;
}


/* editor */
notebook
{
  border: 0;
}

notebook, notebook stack, notebook header, notebook header.top
{
	background: transparent;
}

notebook textview
{
	font-family: Monospace;
}

notebook.live_mode textview.view text, notebook.live_mode textview text, notebook.live_mode textview
{
	background: alpha(@theme_bg_color, 0.4);
}

notebook.live_mode textview.view window, notebook.live_mode textview window
{
	background: alpha(@theme_bg_color, 0.4);
}

notebook.live_mode textview.view text selection, notebook.live_mode textview text selection
{
	color: @theme_fg_color;
	background: alpha(@theme_bg_color, 0.4);
}

notebook.live_mode textview.view border, notebook.live_mode textview border
{
	background: alpha(@theme_bg_color, 0.4);
}

.error
{
  background: #FF0000;
  color: #FFFFFF;
  font-family: Monospace;
  font-weight: bold;
}

.lang_doc
{
  background: #2A4E5E;
  color: #FFFFFF;
  font-family: Monospace;
  font-weight: bold;
}

.search_slider
{
  background-color: @theme_base_color;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  padding: 6pt;
  margin: 0 12pt 6pt 6pt;
  border-color: @borders;
  border-radius: 0 0 3pt 3pt;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

/* scene */
.scene
{
  background: url('resource:///org/hasi/shady/data/images/paint.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  /*background-size: contain;*/
}

.info_box
{
  margin: 15pt;
}

.info_box textview.view
{
  padding-top: 12pt;
  background: transparent;
}

.info_box textview text
{
  background: transparent;
}

.info_box .tags label
{
  padding: 3pt;
  margin: 1.5pt;
  background: #4060ff;
  border: 0;
  border-radius: 3pt;
  color: #ffffff;
  font-size: 9pt;
  font-weight: bold;
}

.main_shader_box
{
  margin: 15pt;
  box-shadow: 0 0 15px #000000;
  /* this is just needed to let the shadow know about the border radius */
  border-bottom-left-radius: 6pt;
  border-bottom-right-radius: 6pt;
  background: @darker_than_bg;
  color: #FFFFFF;
}

.main_shader_container
{
}

.main_shader_container .placeholder_box
{
  background: @darker_than_bg;
	color: #FFFFFF;
}

.main_shader_controls
{
  background: @darker_than_bg;
	color: #FFFFFF;
	border-bottom-left-radius: 6pt;
  border-bottom-right-radius: 6pt;
}

.main_shader_controls .highlighted
{
	background: linear-gradient(transparent, @darker_than_bg_highlight);
	padding: 3pt;
	margin-left: 3pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

.main_shader_controls .fps_label
{
  border-bottom-left-radius: 6pt;
}

.main_shader_controls button,.main_shader_controls button:hover
{
	background: @darker_than_bg;
	color: #FFFFFF;
	border: 0;
	border-radius: 0;
	transition-duration: 0s;
}

.main_shader_controls button:active, .main_shader_controls button:checkeds
{
	background: #FFFFFF;
	color: @darker_than_bg;
	transition-duration: 0s;
}

.main_shader_controls .fullscreen_button, .main_shader_controls .fullscreen_button:hover
{
	border-bottom-right-radius: 6pt;
}

/* channels */
.channel
{
	box-shadow: 0 0 5px #000000;
	border: 0;
	border-top-right-radius: 6pt;
}

.channel_header
{
	padding-left: 6pt;
	background: @darker_than_bg;
	color: #FFFFFF;
	border-top-right-radius: 6pt;
}

.channel_header button, .channel_header button:hover
{
	background: @darker_than_bg;
	color: #FFFFFF;
	border: 0;
	border-radius: 0;
	transition-duration: 0s;
}

.channel_header button:active, .channel_header button:checked
{
	background: #FFFFFF;
	color: @darker_than_bg;
	transition-duration: 0s;
}

.channel_header .settings_button, .channel_header .settings_button:hover
{
	border-top-right-radius: 6pt;
}

.channel_settings
{
	padding: 6pt;
	background: linear-gradient(to bottom, alpha(@darker_than_bg, 1) 0%, alpha(@darker_than_bg, 0.85) 65%, alpha(@darker_than_bg ,0.75) 100%);
	color: #FFFFFF;
}

.channel_settings button
{
	box-shadow: none;
	text-shadow: none;
	outline: none;
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px #FFFFFF solid;
	border-radius: 0;
	background: @darker_than_bg;
	color: #FFFFFF;
}

.channel_settings button:hover, .channel_settings button:active
{
	background: #FFFFFF;
	color: @darker_than_bg;
}

.channel_settings switch
{
	box-shadow: none;
	text-shadow: none;
	outline: none;
	border: 1px #FFFFFF solid;
	border-radius: 0;
	background: @darker_than_bg;
	color: #FFFFFF;
}

.channel_settings switch:checked
{
	border: 1px #FFFFFF solid;
	border-radius: 0;
	background: @darker_than_bg;
}

.channel_settings switch slider
{
	box-shadow: none;
	text-shadow: none;
	outline: none;
	padding: 0;
	border: 1px #FFFFFF solid;
	border-radius: 0;
	background: #FFFFFF;
}

/* shadertoy search */
.item_gradient
{
	background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
}
