/* general */
.no_padding
{
	padding: 0;
}

.popover_padding
{
	padding: 6pt;
}

.small_padding
{
	padding: 6pt;
}

.channels_box_margin
{
	margin: 6pt;
}

.header_bar
{
	border: 0;
}

.header_bar .highlighted
{
	background: @theme_bg_color;
	border-radius: 3pt;
	padding: 3pt;
}

/* editor */
notebook, notebook stack, notebook header, notebook header.top
{
	background: transparent;
}

notebook textview
{
	font-family: Monospace;
}

notebook.live_mode textview.view text, notebook.live_mode textview text, notebook.live_mode textview
{
	background: alpha(@theme_bg_color, 0.4);
}

notebook.live_mode textview.view window, notebook.live_mode textview window
{
	background: alpha(@theme_bg_color, 0.4);
}

notebook.live_mode textview.view text selection, notebook.live_mode textview text selection
{
	color: @theme_fg_color;
	background: alpha(@theme_bg_color, 0.4);
}

notebook.live_mode textview.view border, notebook.live_mode textview border
{
	background: alpha(@theme_bg_color, 0.4);
}

label.line_error
{
  color: #FFFFFF;
  font-weight: bold;
  font-family: Monospace;
  font-size: 9pt;
  background: #FF0000;
  border-radius: 3px;
  box-shadow: 0 0 3px #000000;
  border: 0;
  margin: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* channels */
@define-color darker_than_bg mix(@theme_bg_color, #000000, 0.5);

.channel
{
	box-shadow: 0 0 5px #000000;
	border: 0;
	border-top-right-radius: 6pt;
}

.channel_header
{
	padding-left: 6pt;
	background: @darker_than_bg;
	color: #FFFFFF;
	border-top-right-radius: 6pt;
}

.channel_header button,.channel_header button:hover
{
	background: @darker_than_bg;
	color: #FFFFFF;
	border: 0;
	border-radius: 0;
	transition-duration: 0s;
}

.channel_header button:active, .channel_header button:checked
{
	background: #FFFFFF;
	color: @darker_than_bg;
	transition-duration: 0s;
}

.channel_header .settings_button, .channel_header .settings_button:hover
{
	border-top-right-radius: 6pt;
}

.channel_settings
{
	padding: 6pt;
	background: linear-gradient(to bottom, alpha(@darker_than_bg, 1) 0%, alpha(@darker_than_bg, 0.85) 65%, alpha(@darker_than_bg ,0.75) 100%);
	color: #FFFFFF;
}

.channel_settings button
{
	box-shadow: none;
	text-shadow: none;
	outline: none;
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px #FFFFFF solid;
	border-radius: 0;
	background: @darker_than_bg;
	color: #FFFFFF;
}

.channel_settings button:hover, .channel_settings button:active
{
	background: #FFFFFF;
	color: @darker_than_bg;
}

.channel_settings switch
{
	box-shadow: none;
	text-shadow: none;
	outline: none;
	border: 1px #FFFFFF solid;
	border-radius: 0;
	background: @darker_than_bg;
	color: #FFFFFF;
}

.channel_settings switch:checked
{
	border: 1px #FFFFFF solid;
	border-radius: 0;
	background: @darker_than_bg;
}

.channel_settings switch slider
{
	box-shadow: none;
	text-shadow: none;
	outline: none;
	padding: 0;
	border: 1px #FFFFFF solid;
	border-radius: 0;
	background: #FFFFFF;
}

/* shadertoy search */
.item_gradient
{
	background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
}
